html{color:black}
body{color:black}
header{color:black}
h1{color: black;}
main{color: black;}
section{color: black;}
h2{color: black;}
ul{color: black;}
aside{color: black;}
img{color: black;}
.mainimg{width:100%;
    height:auto;
    opacity:.3;
    position: fixed;}